.player-card{
  border: 1.5px solid red ;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  box-shadow: inset 0 0 1px red;
  min-height: 240px;
}
.winner-loser-banner{
  background: #b20000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 150px;
  padding: 5px;
  color: white;
  border: none;
  letter-spacing: 6px;
  text-align: center;
  position: relative;
  top: 11px;
  z-index: -1;
  margin-left: 22px;
}

.avatar-display{
  display: grid;
  grid-template-columns: 3fr 3fr;
}
.avatar-display img{
  height: 70px;
  width: 70px;
}
.green-color-marker{
  border: 1.5px solid green;
}
.win-banner{
  background: green;
}

.bet-winner-banner{
  width: 150px;
  height: 150px;
  border-radius: 90px;
  font-size: 100px;
  color: goldenrod;
  background: black;
  box-shadow: 0 0 0 3px goldenrod;
  border: 1px solid;
  display: table-cell;
  vertical-align:middle;
  text-align: center;
}
.avatar-display img{
  border-radius: 10px !important;
}
.align-win-banner{
  padding-left: 45%;
}
.line-left{
  height: 2px;
  width: 200px;
  background: black;
  position: relative;
  left: -250px;
  top: 75px;
}
.line-right{
  height: 2px;
  width: 200px;
  background: black;
  position: relative;
  right: -230px;
  top: -75px;
  justify-content: end;
}
